{{define "base"}}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Защита e-mail адресов и URL от спамеров и копирастеров с помощью капчи для размещения ссылок на форумах, блогах, чатах, досках объявлений и других публичных интернет площадках!</title>
    <meta name="Description" content="Защита мэйлов и ссылок от спам-ботов." />
    <meta name="Keywords"
          content="antibot, spam protection, защита от копирастеров, защита e-mail, спам email, spam email, spam-bot, copypast protection, защита, копипастер" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <script type="text/javascript" src="http://yandex.st/jquery/1.4.4/jquery.min.js"></script>

    <script type="text/javascript" src="http://yandex.st/share/share.js" charset="utf-8"></script>

</head>

<body>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52506605-1', 'auto');
      ga('send', 'pageview');

    </script>

    <script type="text/javascript">
        function setSrcQuery(e, q) {
            var src = e.src;
            var p = src.indexOf('?');
            if (p >= 0) {
                src = src.substr(0, p);
            }
            e.src = src + "?" + q
        }
        function SelectText(field){field.focus();field.select();}
        function reload() {
            setSrcQuery(document.getElementById('image'), "reload=" + (new Date()).getTime());
            return false;
        }
    </script>


    <div id="head">
        <div id="header">
            <h1><a href="/">Antibot.me</a></h1>
            <h2>Серьёзная защита E-mail и URL от спам-ботов и копираст-ботов</h2>
        </div>
    </div>
    <div id="wrap">

    <div id="content">
        <div id="message" class="flash"></div>
        {{template "content" .Content}}
    </div>

        <div id="footer">Версия 1, © 2014 «<a href="http://antibot.me/G3Mntv0k">Alexander Katasonov</a>»</div>

    </div>
</body>
</html>
{{end}}
