{{define "content"}}
<div style="text-align:center;">
    <form id="form" action =  "get" method="GET">
        <p>Для доступа введите код с картинки</p>
        <div style="display:inline-block">
        <script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=6LdUtvUSAAAAAFHAD6cT4iBwBh_8HPHXYGb2hgQf">
        </script>
        <noscript>
            <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LdUtvUSAAAAAFHAD6cT4iBwBh_8HPHXYGb2hgQf" height="300" width="500" frameborder="0">
            </iframe>
            <br>
            <textarea name="recaptcha_challenge_field" rows="3" cols="40"> </textarea>
            <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
        </noscript>
        </div>
        <input type="hidden" name="email_uid" value="{{.Key}}">
        {{if .CaptchaError}}<p class="error">Введите код правильно</p>{{else}}<br/>{{end}}
        <input id="click" type="submit" type="submit" tabindex="2" value="Отправить">
    </form>
</div>
<p class="descp">Ссылка или e-mail адрес, к которым вы желаете получить доступ, была защищена нашим сервисом от спам-ботов. Просим вас ввести защитный код, чтобы подтвердить, что вы не бот.</p>

{{end}}
