{{define "content"}}
<div style="text-align:center;">
    <form id="form" action =  "get" method="GET">
        <p>Введите код с картинки</p>
        <input id="input" name=captchaSolution placeholder="Код">
        <center>
        <table>
                <td>
                    <img id="image" src="/captcha/{{.CaptchaId}}.png" alt="Защитный код">
                </td>
                <td>
                    <a href="#" onclick="reload()"><img src="/images/reload.jpg" alt="Перезагрузить картинку"></a>
                </td>
            </tr>
         </table>
        </center>
        {{if .CaptchaError}}<p class="error">Введите код правильно</p>{{end}}
        <input id="click" type="submit" type="submit" tabindex="2" value="Отправить">
        <input type="hidden" name="email_uid" value="{{.Key}}">
        <input type=hidden name=captchaId value="{{.CaptchaId}}">
    </form>
</div>
<p class="descp">Запрашиваемая ссылка или e-mail адрес, к которому вы желаете получить доступ, защищен нашим сервисом от спам-ботов. Просим вас ввести защитный код с картинки, чтобы подтвердить, что вы не бот.</p>

{{end}}
