{{define "content"}}
<form id="form" action = "add" method="GET">
    <div id="CtrlCHint" class="GJUPD0RBBP GJUPD0RBDJ" style="display: none;">
        <span class="GJUPD0RBAP">Нажмите CTRL-C, чтобы скопировать</span>
        <span class="GJUPD0RBPO"></span>
    </div>
    {{if .IsEmail}}
    <input id="input" readonly="readonly" type="text" value="{{.Email}}" onclick='SelectText(this);var pos = $(this).position();var width = $(this).outerWidth();var elWidth=$("#CtrlCHint").width();$("#CtrlCHint").css({position: "absolute", top: (pos.top-29) + "px", left: (pos.left + width/2 - elWidth/2) + "px"}).show();'/><br/>
    {{else}}
    --->&nbsp;&nbsp; <a id="turl" href="{{.Email}}">{{.Email}}</a>&nbsp;&nbsp; <--- <br/>
    {{end}}
</form>
{{if .IsEmail}}
<p class="descp">Поздравляем! Вы ввели правильный код. Данный Email был защищен нашим сервисом от ботов. Теперь вы можете его скопировать кликнув на нем.</p>
{{else}}
<p class="descp">Поздравляем! Вы ввели правильный код. Данная ссылка была защищена нашим сервисом от ботов. </p>
{{end}}
{{end}}